.frame {
    position: relative;
    height: 1024px;
    display: grid;
    grid-template-rows: 92px 1fr;
    background: #F4F4F4;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;

    height: 28px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #424242;
}

.exist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    border: 0;
    background-color: inherit;
    cursor: pointer;
}
/*@media screen and (min-width: 1440px) {*/
/*    .frame {*/
/*        width: 100%*/
/*    }*/

/*}*/

.content {
    width: 1048px;
    height: 906px;

    top: 92px;
    background: #41522E;
    margin-left: auto;
    margin-right: auto;
}