
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;

    height: 28px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #424242;
}

.exist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    border: 0;
    background-color: inherit;
    cursor: pointer;
}